mywebapp/src/main/java/OpenWeatherMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Oct 11 2017 11:06:19 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="current">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="city">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="coord">
                                                   <xs:complexType>
                                                         <xs:attribute name="lon" type="xs:double"></xs:attribute>
                                                         <xs:attribute name="lat" type="xs:double"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="country"></xs:element>
                                             <xs:element name="sun">
                                                   <xs:complexType>
                                                         <xs:attribute name="rise" type="xs:dateTime"></xs:attribute>
                                                         <xs:attribute name="set" type="xs:dateTime"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                       <xs:attribute name="name" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="temperature">
                                 <xs:complexType>
                                       <xs:attribute name="value" type="xs:double"></xs:attribute>
                                       <xs:attribute name="min" type="xs:double"></xs:attribute>
                                       <xs:attribute name="max" type="xs:double"></xs:attribute>
                                       <xs:attribute name="unit" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="humidity">
                                 <xs:complexType>
                                       <xs:attribute name="value" type="xs:int"></xs:attribute>
                                       <xs:attribute name="unit" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="pressure">
                                 <xs:complexType>
                                       <xs:attribute name="value" type="xs:double"></xs:attribute>
                                       <xs:attribute name="unit" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="wind">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="speed">
                                                   <xs:complexType>
                                                         <xs:attribute name="value" type="xs:double"></xs:attribute>
                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="gusts"></xs:element>
                                             <xs:element name="direction">
                                                   <xs:complexType>
                                                         <xs:attribute name="value" type="xs:double"></xs:attribute>
                                                         <xs:attribute name="code" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="clouds">
                                 <xs:complexType>
                                       <xs:attribute name="value" type="xs:int"></xs:attribute>
                                       <xs:attribute name="name" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="visibility"></xs:element>
                           <xs:element name="precipitation">
                                 <xs:complexType>
                                       <xs:attribute name="mode" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="weather">
                                 <xs:complexType>
                                       <xs:attribute name="number" type="xs:int"></xs:attribute>
                                       <xs:attribute name="value" type="xs:string"></xs:attribute>
                                       <xs:attribute name="icon" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="lastupdate">
                                 <xs:complexType>
                                       <xs:attribute name="value" type="xs:dateTime"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>